@font-face {
  font-family: 'Geometria';
  src: url('/src/assets/fonts/Geometria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #F2F4F7;
  margin: 0;
  font-family: 'Geometria', sans-serif;
  height: 100%;
  width: 100%;
}